<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>QGamble</title>
</head>

<body>
	<h1>Welcome to QGamble</h1>
    <hr>
    <h2>Please login or sign up to begin playing.</h2>
    <ul>
		<li>To <a href="/login">Login</a></li>
		<li>To <a href="/signup">Sign Up</a></li>
	</ul>
    <hr>
</body>
</html>
